<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div align="right">
        <button class="btn btn-info">
            <%- include('../partials/footerlogout.ejs') -%>
        </button>
    </div>
    <div class="container">
        <div class="vertical-center-row">
            <div align="center">
                <h1>
                    <%= title %>
                </h1>
                <br>
                <table class="table table-bordered">
                    <tr>
                        <th>ID</th>
                        <th>Hobby Name</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                    <% hobbyData.forEach(hobby => { %>
                        <tr>
                            <td>
                                <%= hobby.id %>
                            </td>
                            <td>
                                <%= hobby.hobby_name %>
                            </td>
                            <td>
                                <%= hobby.category %>
                            </td>
                            <td>
                                <a href="/hobbiescontrol/add">Add</a> ||
                                <a href="/hobbiescontrol/edit/<%= hobby.id %>">Edit</a> ||
                                <a href="/hobbiescontrol/delete/<%= hobby.id %>" onclick="return confirm('Are you sure you want to delete this hobby\'s data?')">Delete</a>
                            </td>

                            </td>
                        </tr>
                        <% })%>

                </table>
                <div align="center">
                    <a href="/dashboard-admin" class="btn btn-primary" role="button">Back to Admin Home</a>
                </div>


</body>

</html>